.footer {
  position: relative;
  top: 865px;
  width: 1519.2px;
  height: 429.8px;
  background-color: #000;
}
.footer__socialbar {
  display: flex;
  z-index: 2;
  list-style-type: none;
  width: 100%;
  height: 52px;
  line-height: 52px;
  justify-content: center;
  background-color: #111111;
  align-items: center;
  margin: 0 auto;
  border-bottom: #1a1a1a solid 2px;
}
.footer__socialitem {
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-right: 34px;
  opacity: 0.4;
  cursor: pointer;
  background-size: cover;
}
.footer__socialbar img {
  width: 32px;
  height: 32px;
}
